.green0{
	color: #81C784;
}
.green_1{
	color:#b1e6d1
}
.Bgreen_1{
	background-color:#b1e6d1
}

.green_2{
	color:#77b1a9 ;
}
.Bgreen_2{
	background-color: #77b1a9;
}

.green_escuro{
	color:#3d7b80 ;
}
.Bgreen_escuro{
	background-color: #3d7b80;
}


.colors{
color: #dbdbdb;
color: #a0a0a0;
color: #E4E4E4;
color: #f1f5f4;
color:#f51734;

color:#FF0085;
color:#0046A7;

color: #451a3e;
color: #270a33;

}

/*coolors.co/palettes/popular/#b1e6d1*/