.green_1{
	color:#b1e6d1
}
.Bgreen_1{
	background-color:#b1e6d1
}

.green_2{
	color:#77b1a9 ;
}
.Bgreen_2{
	background-color: #77b1a9;
}

.green_escuro{
	color:#3d7b80 ;
}
.Bgreen_escuro{
	background-color: #3d7b80;
}

.roxo_fort{
	color: #270a33;
}
.Broxo_fort{
	background-color: #270a33;
}

.vinho{
	color:#451a3e ;
}
.Borange{
	background-color: #8f8f8f ;
	
}

/*criar logo com : #1E919E + rgba(69, 26, 62, 1) */