/*Paleta Oficial*/
.colors{
	verdeLogo : #9be3d6;
	
	verde1: #bdece3;
	verde2: #95e1d3; 
	verde3 :#6dd6c2;
	cinza1:#2a2a2a;
	black1: #000000;
	black2: #111111;
}


.colors{
color: #dbdbdb;
color: #a0a0a0;
color: #E4E4E4;
color: #f1f5f4;

.colors{
gray1: #868686;
gray2: #a0a0a0;
gray3: #E4E4E4;
gray4: #f1f5f4;
gray5: #dbdbdb;
}


/* Tons verdes*/
color:#3ccb8d ;
color: #3bf0ad ;
color:#265a4e ;
color: #20312b;
}


/* Tons azuis Royal */
.Azul{
color: #0045ad  ;


}

/*coolors.co/palettes/popular/#b1e6d1*/